{{#vars}}
  {{#isEnum}}
    @SerializedName("{{name}}")
    private {{datatype}} {{name}};
  {{/isEnum}}

  {{^isEnum}}
    @SerializedName("{{name}}")
    private {{datatype}} {{name}};
  {{/isEnum}}
{{/vars}}
